body, div, ul, li, p, h1, h2, h3, h4, h5, h6, img, a {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif; }

@-webkit-viewport {
  width: device-width;
  height: device-height; }
@-moz-viewport {
  width: device-width;
  height: device-height; }
@-ms-viewport {
  width: device-width;
  height: device-height; }
@-o-viewport {
  width: device-width;
  height: device-height; }
@viewport {
  width: device-width;
  height: device-height; }
  

/* Common Styles */
a, img {
  border: none;
  text-decoration: none; }

h3 {
  font-size: 50px;
  font-weight: normal; }

h4 {
  font-size: 25px;
  font-weight: normal; }

p, ul {
  font-size: 16px;
  line-height: 25px; }

li {
  list-style-type: none; }

.clearBoth {
clear: both;
}

#divWrap {
width: 100%;
}

.divHeader {
width: 100%;
background-color: #0073cb;
position: fixed;
z-index: 5;
}

.navigation {
float: right;
display: block;
z-index: 5;
}

.navigation ul {
position: relative;
border: none;
}

.navigation li, .navigation li a  {
float: left;
padding: 8px 20px;
font-family: Trebuchet MS;
font-weight: 17px;
color: #fff;
list-style-type: none;
}

.navigation li a:hover {
background-color: #004478;
}

.navigation li:hover{
background-color: #004478;
}

.navigation li.selected{ background-color: #004478; }

.mobNavImg {
float: right;
display: none;
cursor: pointer;
}

.mobNavImg img {
margin-right: 20px;
margin-top: 9px;
}

.navigationHide, .navigationShow{
display:block;
}

@media screen and (max-width: 1100px) {
	.navigation {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	top: 35px;
	height: 348px;
	z-index: 5;
	display: none;
	}
	.navigationShow{
		display:block;
		z-index: 5;
	}
	
	.navigationHide{
		display:none;
		z-index: 5;
	}
	
	.navigation ul {
	width: 100%;
	}

	.navigation li {
	width: 100%;
	padding: 8px 0;
	font-family: Trebuchet MS;
	font-weight: 17px;
	color: #fff;
	list-style-type: none;
	background-color: #0073cb;
	border-top: 1px Solid #fff;
	}
	.navigation li  a{
		width:80%;
	}
	
	.mobNavImg {
	display: block;
	}
}

@media screen and (min-width: 1101px) {
	.navigation {
		position: relative;
		display: block;
	}
	.navigationHide, .navigationShow{
		display:block;
	}
}

/* Content Styles */
.graphBG {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("../images/graphBG.png") repeat;
  z-index: -1; 
}

.divRhtSec {
  width: 100%;
  height: 100%;
  background: url("../images/bytesIMG.png") no-repeat left top; }
  
.divContent {
  width: 95%;
  height: 100%;
  margin: 0 auto;}
  
.divLoginCtnt {
width: 100%;
text-align: center;
padding-top: 100px;
color: #758897;
font-weight: regular;
}
  
.divCtnt {
clear: both;
width: auto;
min-height: 600px;
}
  
  .divCtnt h3 {
    clear: both;
    color: #758897;
    font-weight: regular;
    padding-top: 60px; }
	
  .divCtnt h4 {
    clear: both;
    color: #758897;
    font-weight: regular;
    margin-top: 25px; }

  .labelUserName, .labelPassword {
    margin-top: 10px;
	color: #0073cb;}
	
  .labelUserName span {
    margin-right: 20px; }

  .labelPassword span {
    margin-right: 30px; }
	
  .labelUserName input {
	width: 180px;}
	
  .labelPassword input {
	width: 180px;}
	
  .errorLogin {
  margin-top: 20px;
  color: #ea0b0b;
  font-size: 13px;
  }
	
  .labelBtn INPUT{margin-top: 15px; margin-left: 17px;}
	
  .divCtnt ul, .divCtnt ul.ulAttachments, .divCtnt ul.ulImages {
    clear: both; }
	
  .divCtnt p, .divCtnt li {
    text-decoration: none;
    text-align: justify;
    margin-top: 15px;
    color: #777; }
	
  .divCtnt img.floatLeft {
    float: left;
    margin: 20px 15px 20px 0; }
	
  .divCtnt ul.ulAttachments li, .divCtnt ul.ulImages li {
    float: left;
    margin-right: 20px;}


.divCtnt a.college, .divCtnt a.HSC, .divCtnt a.SSC, .divCtnt a.extraCurriculum, ul.ulImages a.communityServices img {
text-decoration: none;
font-size: 20px;
color: #0073cb;
border: none;
}

p.textIndent{
margin-left: 30px;
}

a.clear {
clear: both;
}

.divFooter {
width: 100%;
background: #2c3b46;
text-align: center;
margin-top: 25px;
}

.divFooter p {
width: 90%;
margin: 0 auto;
padding-top: 10px;
padding-bottom: 10px;
color: #fff;
text-align: center;
font-size: 13px;
}

.divFooter img {
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
}