<a class="clear" name="myAchievements"></a>
			<div class="divCtnt">
				<h3>my achievements</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget enim egestas nisl dignissim sagittis sit amet sed lacus. Praesent a commodo sapien. Phasellus iaculis elit nec eros ultrices, in volutpat lectus ultricies. Nunc elementum diam vehicula nibh volutpat laoreet. Etiam rutrum arcu nec orci ultrices, quis facilisis arcu rutrum. Nam posuere nec leo ac laoreet.</p>
				
				<p><a class="college" href="assets/certifications/college/1.jpg">college certificates</a></p>
				<p><a class="college" href="assets/certifications/college/2.jpg"></a></p>
				<p><a class="college" href="assets/certifications/college/3.jpg"></a></p>
				<p><a class="college" href="assets/certifications/college/4.jpg"></a></p>
				<p><a class="college" href="assets/certifications/college/5.jpg"></a></p>
				<p><a class="college" href="assets/certifications/college/6.jpg"></a></p>
				
				<p><a class="college" href="assets/certifications/HSC/1.jpg">higher secondary certificates</a></p>
				<p><a class="college" href="assets/certifications/HSC/2.jpg"></a></p>
				<p><a class="college" href="assets/certifications/HSC/3.jpg"></a></p>
				<p><a class="college" href="assets/certifications/HSC/4.jpg"></a></p>
				<p><a class="college" href="assets/certifications/HSC/5.jpg"></a></p>
				<p><a class="college" href="assets/certifications/HSC/6.jpg"></a></p>
				
				<p><a class="college" href="assets/certifications/SSC/1.jpg">senior secondary certificates</a></p>
				<p><a class="college" href="assets/certifications/SSC/2.jpg"></a></p>
				<p><a class="college" href="assets/certifications/SSC/3.jpg"></a></p>
				<p><a class="college" href="assets/certifications/SSC/4.jpg"></a></p>
				<p><a class="college" href="assets/certifications/SSC/5.jpg"></a></p>
				<p><a class="college" href="assets/certifications/SSC/6.jpg"></a></p>
				
				<p><a class="college" href="assets/certifications/extraCurriculum/1.jpg">extra-curriculum Certificates</a></p>
				<p><a class="college" href="assets/certifications/extraCurriculum/2.jpg"></a></p>
				<p><a class="college" href="assets/certifications/extraCurriculum/3.jpg"></a></p>
				<p><a class="college" href="assets/certifications/extraCurriculum/4.jpg"></a></p>
				<p><a class="college" href="assets/certifications/extraCurriculum/5.jpg"></a></p>
				<p><a class="college" href="assets/certifications/extraCurriculum/6.jpg"></a></p>				
			</div>