<a class="clear" name="myInterest"></a>
			<div class="divCtnt">
				<h3>my interest</h3>
				<h4>data analytics</h4>
				<img src="assets/images/titleImage.jpg" class="floatLeft" alt="title Image" /><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget enim egestas nisl dignissim sagittis sit amet sed lacus. Praesent a commodo sapien. Phasellus iaculis elit nec eros ultrices, in volutpat lectus ultricies. Nunc elementum diam vehicula nibh volutpat laoreet.</p>
				
				<h4>data mining</h4>
				<img src="assets/images/titleImage.jpg" class="floatLeft" alt="title Image" /><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget enim egestas nisl dignissim sagittis sit amet sed lacus. Praesent a commodo sapien. Phasellus iaculis elit nec eros ultrices, in volutpat lectus ultricies. Nunc elementum diam vehicula nibh volutpat laoreet.</p>
				
				<h4>data management</h4>
				<img src="assets/images/titleImage.jpg" class="floatLeft" alt="title Image" /><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget enim egestas nisl dignissim sagittis sit amet sed lacus. Praesent a commodo sapien. Phasellus iaculis elit nec eros ultrices, in volutpat lectus ultricies. Nunc elementum diam vehicula nibh volutpat laoreet.</p>
			</div>