			<div class="divHeader">

				<nav class="navigation">
					<ul>
						<li class="{{ @page == 'aboutme' ? 'selected' : '' }}" ><a href="page/aboutme">who am I</a></li>
						<li class="{{ @page == 'portfolio' ? 'selected' : '' }}"><a href="page/portfolio">my portfolio</a></li>
						<li class="{{ @page == 'curriculum' ? 'selected' : '' }}"><a href="page/curriculum">my academics</a></li>
						<li class="{{ @page == 'achievements' ? 'selected' : '' }}"><a href="page/achievements">my achievements</a></li>
						<li class="{{ @page == 'interest' ? 'selected' : '' }}"><a href="page/interest">my interest</a></li>
						<li class="{{ @page == 'services' ? 'selected' : '' }}"><a href="page/services">community service</a></li>
						<li><a href="logout">logout</a></li>
					</ul>
				</nav>

				<div class="mobNavImg">
					<img src="assets/images/mobNavImg.png" alt="" />
				</div>

					<div class="clearBoth"></div>
			</div>