<a class="clear" name="communityServices"></a>
			<div class="divCtnt">
				<h3>community services</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget enim egestas nisl dignissim sagittis sit amet sed lacus. Praesent a commodo sapien. Phasellus iaculis elit nec eros ultrices, in volutpat lectus ultricies. Nunc elementum diam vehicula nibh volutpat laoreet.</p>
				<h4>attachments</h4>
				<ul class="ulImages">
					<li><img src="assets/certifications/communityServices/1.jpg" alt="Image" /></li>
					<li><img src="assets/certifications/communityServices/2.jpg" alt="Image" /></li>
					<li><img src="assets/certifications/communityServices/3.jpg" alt="Image" /></li>
					<li><img src="assets/certifications/communityServices/4.jpg" alt="Image" /></li>
					<li><img src="assets/certifications/communityServices/5.jpg" alt="Image" /></li>
					<li><img src="assets/certifications/communityServices/6.jpg" alt="Image" /></li>
				</ul>
			</div>