<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Personal Profile</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />
		<link href="assets/css/global.css" rel="stylesheet" />
		<script src="assets/js/jquery-1.11.1.min.js"></script>
		
		<check if="{{ @isLightbox }}">
			<link rel="stylesheet" type="text/css" href="assets/css/lightBox.css">
			<script src="assets/js/jquery.colorbox-min.js"></script>
		</check>
	</head>
	
	<body>
		<div id="divWrap">
			
			<include href="templates/nav.html" if="{{ @loggedIn }}" />

			<div class="graphBG"></div>
			
			
			<div class="divRhtSec">
				<div class="divContent">
					<include href="{{ @content }}" />
				</div>
				
				<div style="clear:both;"></div>
			</div>	
			
			<include href="templates/footer.html" if="{{ @loggedIn }}" />

		</div>
		<script>
			var isLogged = "{{ @loggedIn }}";
		</script>
		<script src="assets/js/global.js" type="text/javascript"></script>
	</body>